@(createForm: Form[Announcement],
breadcrumbs: utils.BreadCrumb)

@import helper._
@import tags._

@main("Announcement Input Form") {    
	@breadcrumb(breadcrumbs)
    <h1>Add an announcement</h1>    

    @form(action = routes.AnnouncementController.save()){        
        <fieldset>        
            @inputText(createForm("title"), '_label -> Messages("title"))
            @textarea(createForm("body"), '_label -> Messages("body"))   
            @inputText(createForm("media"), '_label -> Messages("mediaUrl"))
            <script>
                CKEDITOR.replace('body');
            </script>
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create this announcement" class="btn btn-default primary"> or 
            <a href="@routes.AnnouncementController.list()" class="btn btn-cancel">Cancel</a> 
        </div>
    }	
}