@(id: String, editForm: Form[Announcement],
breadcrumbs: utils.BreadCrumb)

@import helper._
@import tags._ 

@main("") {
    @breadcrumb(breadcrumbs)
    <h1>Edit Announcement</h1>

    @form(routes.AnnouncementController.update(id)) {        
        <fieldset>        
            @inputText(editForm("title"), '_label -> Messages("title"))
            @textarea(editForm("body"), '_label -> Messages("body"))
            @inputText(editForm("media"), '_label -> Messages("resourceURL"))
			      <script>
                CKEDITOR.replace('body');
            </script>
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Save" class="btn btn-default primary"> or 
            <a href="@routes.AnnouncementController.list()" class="btn">Cancel</a> 
        </div>       
    }
    
    @form(routes.AnnouncementController.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete" class="btn btn-delete danger">
    }

}