@(
  currentPage: com.avaje.ebean.Page[Announcement],
  pageHelper:  utils.PageHelper,
  breadcrumbs: utils.BreadCrumb
)

@import tags._

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
  <th class="@key.replace(".","_") header @if(pageHelper.currentSortBy == key) @{if(pageHelper.currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
    <a href="@link(0, key, pageHelper)">@title</a>
  </th>
}

@main("","announcements") {

  @breadcrumb(breadcrumbs)

  <h1 id="homeTitle">@Messages("announcement.list.title")</h1>
	
	@if(flash.containsKey("success")) {
    <div class="alert-message warning">
      <strong>Done!</strong> @flash.get("success")
    </div>
	} 
	
  <div id="actions">
    <a class="btn success" id="add" href="@routes.AnnouncementController.create()">Add a new announcement</a>
        
    <form action="@link(0, "title", pageHelper)" method="GET">
      <input type="search" id="searchbox" name="f" value="@pageHelper.currentFilter" placeholder="Filter by announcement...">
      <input type="submit" id="searchsubmit" value="Filter by title" class="btn primary">
    </form>
  </div>
    
  @if(currentPage.getTotalRowCount == 0) {
	
    <div class="well">
      <em>Nothing to display</em>
    </div>
	    
	} else {
	
    <table class="zebra-striped">
      <thead>
        <tr>
          @header("title", "Title")
	        @header("title", "Body")
          @header("title", "Media")
          <th></th>
        </tr>
      </thead>
      <tbody>
				@for(announcement <- currentPage.getList) {
        <tr>
          <td><a href="@routes.AnnouncementController.edit(announcement.id)">@announcement.title</a></td>
          <td>@announcement.body</td>
          <td>@announcement.media</td>
          <td><a href="@routes.AnnouncementController.edit(announcement.id)">Edit</a></td>
        </tr>
        }               
      </tbody>
    </table>

    @pagination(pageHelper)
  }
       
}