@(createForm: Form[UserPermission])
@import helper._
@main("User permission Input Form") {    
    <h1>Add an user permission</h1>    
    @form(action = routes.PermissionController.save()){        
       <fieldset>        
            @inputText(createForm("value"), '_label -> Messages("value"))
       </fieldset>
            
        <div class="actions">
            <input type="submit" value="Create this user permission" class="btn primary"> or 
            <a href="" class="btn">Cancel</a> 
        </div>
        
    }
}