html, body {
  height: 100%;
}

body {
  background: url(/assets/img/kyart/bg.jpg);
  color: #000;
  font: normal 14px/1.62em Calibri,Arial,Helvetica,sans-serif;
}

#header_wrapper {
  background: url(/assets/img/kyart/bg.jpg);
  width: 100%;
	height: 50px;
	line-height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
}

#container {
  width: 100%;
  height: 100%;
  clear: both;
  margin: 0;
  padding: 0;
  position: relative;
  top: 50px;
}

.row {
  max-width: 100%;
}

.clear{
  clear: both;
}

/*============================================================================================================
  header
==============================================================================================================*/
.top-bar {
  background: inherit;
}

#logo {
	margin: 5px 0 0 10px;
}

/*search bar*/
.top-bar-section .has-form {
	background: inherit;
}

#block-search-form {
	background: url(/assets/img/kyart/bg_search.png) no-repeat left bottom;
	width: 216px;
	height: 34px;
  overflow: hidden;
}

#block-search-form input.form-text { 
	width: 182px;
	height: 30px; 
	background: none; 
	border: none; 
	color: #ffffff;
  float: left;
	padding: 0;
  margin: 0;
  top: 0;
}

#block-search-form input.form-submit { 
	width: 30px; 
	height: 30px; 
	background: none; 
	border: none; 
	text-indent: -999px; 
	padding: 0;
  margin: 0;
  top: 0;
}

/* setting & logout */
.top-bar-section ul {
	background: inherit;
}

.top-bar-section ul li {
	margin: 10px 20px 0 0;
}

#settings {
	display: block;
	width: 30px;
	height: 30px;
	background: url(/assets/img/kyart/btn_setting.png) no-repeat 0 0;
	text-indent: -5000px;
}

#logout {
	display: block;
	width: 30px;
	height: 30px;
	background: url(/assets/img/kyart/btn_power.png) no-repeat 0 0;
	text-indent: -5000px;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  line-height: 30px;
}


/*============================================================================================================
  left sidebar
==============================================================================================================*/
#sidebar {
  color: #888;
  word-break: break-word;
}

.block-user-picture img {
  width: 80px;
  height: auto;
  margin: 0 auto;
  border: #0099cc solid 2px;
}
.block-user-picture .username {
  font: bold 15px/16px Calibri;
}


/*============================================================================================================
  content
==============================================================================================================*/
#content {
  background: #e9e9ea;
}

.region-content{
  background-color: #ffffff;
  padding: 5px 15px;
}

/* breadcrumbs */
.breadcrumbs {
  display: block;
  background-color: #e9e9ea;
  border: none;
  border-bottom: #ccc solid 2px;
  height: 34px;
  padding: 0;
  margin: 0 0 0 -15px;
}

.breadcrumbs > a {
  font: normal 12px/32px Calibri,Arial;
  color: #777;
  text-transform: none;
  height: 32px;
  line-height: 32px;
  padding: 0;
  word-wrap: break-word;
  word-break: break-all;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;
}

.breadcrumbs > a:before {
  content: "";
  text-indent: -9999px;
  background: url(/assets/img/kyart/breadcrumb_delimiter_gray.png) no-repeat 0 0;
  padding: 10px 5px;
  margin: 0 7px;
}

.breadcrumbs > a.home {
  text-indent: -9999px;
  width: 32px;
  background: #BDC3C7 url(/assets/img/kyart/breadcrumb_home_square.png) no-repeat 0 0;
}

/* Pagination */
.pagination {
  background: #fff;
  width: 100%;
  display: table;
  text-align: left;
}

ul.pagination {
  display: block;
  height: 2rem;
  margin-left: 0;
}

.pagination li {
  padding: 5px 0 5px 5px;
  margin: 0;
  display: inline-block;
}

/* table */
td.action > a {
  margin-left: 7px;
}

/* User-picture */
.user-picture-small {
  width: 50px;
  height: 50px;
  overflow: hidden;
}

/* Group Icons */
.group-icons {
  background: #e6e6e6;
  padding: 3px 3px 3px 7px;
}

.novo-group-member .group-member {
  display: table-cell;
  width: 20%;
}

.group-member {
  background: #fff;
  padding: 5px;
  border: 1px solid #ddd;
}

.group-member img {
  width: 60px;
}

.table-view .field > div {
  display: inline-block;
}

.table-view .field-label {
  text-align: right;
  min-width: 120px;
  margin-right: 10px;
  font-weight: bold;
}