@(createForm: Form[views.formdata.CourseFormData],
breadcrumbs: utils.BreadCrumb))
@import helper._
@import bootstrap3._
@import tags._

@main("Course Input Form") {    
 @form(action = routes.CourseController.save()){
@breadcrumb(breadcrumbs)
        <fieldset>
        	@inputText(createForm("title"), '_label -> Messages("Title"))   
        	@textarea(createForm("body"), '_label -> Messages("body"))               
            <script>
                CKEDITOR.replace( 'body' );
            </script>
            
            @inputText(createForm("coverImageURL"), '_label -> Messages("coverImageURL"))
            @checkbox(field = createForm("enabled"),'_label -> Messages("enabled"))
            
            @select(
                createForm("courseModule.id"), 
                options(CourseModule.options), 
                '_label -> "CourseModule", '_default -> "-- Choose a course module --",
                '_showConstraints -> false
            )      
			
			<!-- TODO: Add group option here -->
            
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create this lesson" class="btn primary"> or 
            <a href="" class="btn">Cancel</a> 
        </div>
        
    }
}