@(id: String, editForm: Form[views.formdata.CourseFormData],
breadcrumbs: utils.BreadCrumb))

@import helper._
@import bootstrap3._
@import tags._

@main("") {
    @breadcrumb(breadcrumbs)
    <h1>Edit Course</h1>
    
       @form(routes.CourseController.update(id)) {
        
        <fieldset>        
            @inputText(editForm("title"), '_label -> Messages("title"))
            @textarea(editForm("body"), '_label -> Messages("body"))
            
			<script>
                CKEDITOR.replace( 'body' );
            </script>
            <input type="hidden" name="id" value="@id" />
            @inputText(editForm("coverImageURL"), '_label -> Messages("coverImageURL"))
            checkbox(field = createForm("enabled"),'_label -> Messages("enabled"))
            
            @select(
                editForm("courseModule.id"), 
                options(CourseModule.options), 
                '_label -> "CourseModule", '_default -> "-- Choose a course module --",
                '_showConstraints -> false
            )      
			
			<!-- TODO: Add group option here -->
            
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Update this lesson" class="btn primary"> or 
            <a href="routes.LessonController.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
    @form(routes.LessonController.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this lesson" class="btn danger">
    }
}