@(
  localUser: models.User = null
)

@import tags._

@converse("") {

<script type="text/javascript" language="javascript">
$(document).ready(function() {
      $("#driver").click(function(event){
          var message = $('#message').val();
		  $('#result').val(message);
		  
		  jQuery.ajax ({
			url: "http://localhost:9000/api/message/send",
			beforeSend: function(xhr){xhr.setRequestHeader("Access-Control-Allow-Origin","*");},
			type: "POST",
			data: JSON.stringify({
				"from": "JeffScott@@novocampus.com.tw",
				"to": "DavidLetterman@@novocampus.com.tw",
				"body": message
			}),
			dataType: "json",
			contentType: "application/json; charset=utf-8",
			success: function(){
				//
			}
		});
		 });  
   });
</script>
<textarea cols="40" rows="5" id="messages"></textarea>
<p>
<input type="text" id="message">
<input type="button" id="driver" value="Send" />
<p>
<input type="text" id="result">

  @notice()
  <div>
	  @* Display *@
    <div>Here is chat room.</div>
    
    <a href="/">Back</a>
	</div>

}