@(
  groups: List[Group],
  breadcrumbs: utils.BreadCrumb
)

@import tags._

@scripts = {
  <link href="@routes.Assets.at("css/vendor/jquery.dynatable.css")" rel="stylesheet" />
  <script src="@routes.Assets.at("js/vendor/jquery.dynatable.js")"></script>
}

@main(Messages(breadcrumbs.activeCrumb), breadcrumbs.nav, scripts) {
  
  @breadcrumb(breadcrumbs)
  <h1 id="homeTitle">@Messages(breadcrumbs.activeCrumb)</h1>
  @notice()
  
  <div class="row">
    <div class="large-3 columns">
      <a class="tiny button" id="add" href="@routes.GroupController.create()?destination=@breadcrumbs.nav">Create Group</a>
    </div>
  </div>
  
  @if(groups.size() == 0) {
    <div class="well">
      <em>Nothing to display</em>
    </div>
  } else {

    <div class="table-responsive">

      <span class="dynatable-search">
        <span class="dynatable-search-label">@Messages("Grade Level"):</span>
        <select name="grade_level" id="dynatable-search-grade_level" class="dynatable-search-select">
          <option value=""></option>
          @models.enums.GradeLevel.values().toList.map{v => <option value="@Messages("GradeLevel." + v.toString)">@Messages("GradeLevel." + v.toString)</option>}
        </select>
      </span>

	    <table id="my-table" class="clear" width="100%">
        <thead>
          <tr>
            <th>School Year</th>
            <th>Name</th>
            <th>Short Name</th>
            <th>Grade Level</th>
            <th>Room Teacher</th>
            <th>Actions</th>
          </tr>
        </thead>	    
	      <tbody>
	      @for(group <- groups) {
	        <tr>
            <td>@group.schoolYear.title()</td>
            <td><a href="@routes.GroupController.view(group.id)">@group.name</a></td>
	          <td>@group.shortName</td>
	          <td>@Messages("GradeLevel." + group.gradeLevel)</td>
            <td>@group.roomTeacher.getFullName</td>
	          <td class="action">
              <a href="@routes.GroupController.edit(group.id)?destination=@breadcrumbs.nav"><i class="fa fa-pencil"></i> Edit</a>
              <a href="@routes.GroupController.remove(group.id)?destination=@breadcrumbs.nav"><i class="fa fa-times"></i> Delete</a>
            </td>
	        </tr>
	      }               
	      </tbody>
	    </table>
    </div>
    
    <script type="text/javascript">
      $('#my-table').dynatable({
        table: {
          defaultColumnIdStyle: 'underscore'
        },
        inputs: {
          processingText: '<i class="fa fa-spinner fa-spin"></i> Loading ...... />',
          queries: $('#dynatable-search-grade_level')
        }
      });
    </script>
  }
}