@**********************************************************************
 * @param createForm The create form of school year                   *
 **********************************************************************@
@(
  createForm: Form[SchoolYear],
  breadcrumbs: utils.BreadCrumb
)

@import helper._
@import tags._

@main(Messages("schoolYear.create.title"), breadcrumbs.nav) {    
  
  @breadcrumb(breadcrumbs)
  <h1>@Messages("schoolYear.create.title")</h1>
  
  @notice()
  @defining(createForm.errors().size()){ cnt => 
    @cnt match{
      case 0 => {}
      case 1 => {<div class="alert alert-error">There is @cnt error.</div>}
      case _ => {<div class="alert alert-error">There are @cnt errors.</div>}
    }
  }

  @form(action = routes.SchoolYearController.save()){        
    <fieldset>
      @inputText(createForm("academicYear"), '_label -> Messages("Academic Year"))
      @_semesterPartial(createForm, true)
      @inputText(createForm("startDate"), '_label -> Messages("Start Date"), 'class -> "useDatepicker")            
      @inputText(createForm("endDate"), '_label -> Messages("End Date"), 'class -> "useDatepicker")            
      @inputText(createForm("description"), '_label -> Messages("Description"))
    
      <div class="actions">
        <input type="submit" value="Submit" class="button small round">
        <a href="@breadcrumbs.nav" class="button small round">Cancel</a>
      </div>
    </fieldset>
  }   
}
