@(
  id: String,
  editForm: Form[SchoolYear],
  schoolYear: SchoolYear,
  breadcrumbs: utils.BreadCrumb
)

@import helper._
@import tags._

@main(schoolYear.title, breadcrumbs.nav) {
  
  @breadcrumb(breadcrumbs)
  
  <h1>Edit @schoolYear.title</h1>

  @notice()
  @editForm.errors().size() match {
    case 0 => {}
    case 1 => {<div class="alert alert-error">There is @editForm.errors().size() error.</div>}
    case _ => {<div class="alert alert-error">There are @editForm.errors().size() errors.</div>}
  }

	@form(routes.SchoolYearController.update(id)) {
    <fieldset>
      @inputText(editForm("academicYear"), '_label -> Messages("Academic Year"))
      @_semesterPartial(editForm, true)
      @inputText(editForm("startDate"), '_label -> Messages("Start Date"), 'class -> "useDatepicker")            
      @inputText(editForm("endDate"), '_label -> Messages("End Date"), 'class -> "useDatepicker")            
      @inputText(editForm("description"), '_label -> Messages("Description")) 
    </fieldset>
        
    <div class="actions">
      <input type="submit" value="Save" class="button small round"> 
      <a href="@breadcrumbs.nav" class="button small round">Cancel</a>
      <a href="@routes.SchoolYearController.remove(id)" class="button small round alert">Delete</a> 
    </div>
  }

}