@(
  schoolYears: List[SchoolYear],
  breadcrumbs: utils.BreadCrumb
)

@import tags._

@scripts = {
  <link href="@routes.Assets.at("css/vendor/jquery.dynatable.css")" rel="stylesheet" />
  <script src="@routes.Assets.at("js/vendor/jquery.dynatable.js")"></script>
}

@main(Messages("schoolYear.list.title"), breadcrumbs.nav, scripts) {
  
  @breadcrumb(breadcrumbs)
  <h1 id="homeTitle">@Messages("schoolYear.list.title")</h1>
  @notice()
  
  <div class="row">
    <div class="large-4 columns">
      <a class="tiny button" href="@routes.SchoolYearController.create()">Add a Semester</a>
      <a class="tiny button" href="@routes.SchoolYearController.setCurrent()">Set Current Semester</a>
    </div>
  </div>
  
  @if(schoolYears.size() == 0) {

    <div class="well">
      <em>Nothing to display</em>
    </div>

  } else {

    <div class="table-responsive">
	    <table id="my-table" class="clear" width="100%">
        <thead>
          <th></th>
          <th>Title</th>
          <th>Academic Year</th>
          <th>Semester</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Description</th>
          <th>Actions</th>
        </thead>
	      <tbody>
        @defining(controllers.SchoolYearController.getCurrentSchoolYearID()) { currentSchoolYearID =>
		      @for(schoolYear <- schoolYears) {
		        <tr class="@("info".when(currentSchoolYearID == schoolYear.id))">
              <td>@("Now!".when(currentSchoolYearID == schoolYear.id))</td>
  	          <td><a href="@routes.SchoolYearController.edit(schoolYear.id)">@schoolYear.getFullTitle()</a></td>
  	          <td>@schoolYear.academicYear</td>
  	          <td>@Messages("Semester." + schoolYear.semester)</td>
  	          <td>@schoolYear.startDate.format("yyyy-MM-dd")</td>
              <td>@schoolYear.endDate.format("yyyy-MM-dd")</td>
  	          <td>@schoolYear.description</td>
  	          <td class="action">
  	            <a href="@routes.SchoolYearController.edit(schoolYear.id)"><i class="fa fa-pencil"></i> Edit</a>
  	            <a href="@routes.SchoolYearController.remove(schoolYear.id)"><i class="fa fa-times"></i> Delete</a>
  	          </td>
  	        </tr>
		      }
	      }
	      </tbody>
	    </table>
    </div>
    
    <script type="text/javascript">
      $('#my-table').dynatable({
        table: {
          defaultColumnIdStyle: 'underscore'
        },
        inputs: {
          processingText: '<i class="fa fa-spinner fa-spin"></i> Loading ...... />'
        }
      });
    </script>

  }
        
}