@**********************************************************************
 * @param currentSemester The set current semester form of school year
 **********************************************************************@
@(
  breadcrumbs: utils.BreadCrumb,
  currentForm: Form[models.SchoolYear]
)

@import helper._
@import tags._

@main(Messages("schoolYear.setCurrent.title"), breadcrumbs.nav) {    

  @breadcrumb(breadcrumbs)

  <h1>@Messages("schoolYear.setCurrent.title")</h1>
  @notice()

  @form(routes.SchoolYearController.saveCurrent()) {
    <fieldset>
      @select(
        currentForm("id"),
        models.SchoolYear.find.all().map(v => (v.id, Messages(v.title))),
        '_label -> "School Year",
        '_default -> "-- Choose current semester --"
      )
  
      <div class="actions">
        <input type="submit" value="Submit" class="button small round">
        <a href="@breadcrumbs.nav" class="button small round">Cancel</a>
      </div>
    </fieldset>
  }      
}
