@(
  createForm: Form[views.formdata.LessonFormData],
  lessonElements: Map[String, Boolean],
  breadcrumbs: utils.BreadCrumb
)

@import helper._
@import bootstrap3._
@import tags._

@main("Lesson Input Form") {

	@breadcrumb(breadcrumbs)

    <h1>Add a lesson</h1>    
    @form(action = routes.LessonController.save()){
      <fieldset>
        @inputText(createForm("title"), '_label -> Messages("Title"))      
        @select(createForm("gradeLevel"), models.enums.GradeLevel.values().toList.map(v => (v.toString, Messages(v.toString))), '_label -> "GradeLevel")
    		@select(createForm("subject"), models.Subject.find.all().map(v => (v.id, Messages(v.name))), '_label -> "Subject")
        @inputText(createForm("resourceURL"), '_label -> Messages("resourceURL"))
        
        @textarea(createForm("body"), '_label -> Messages("body"))               
            <script>
                CKEDITOR.replace( 'body' );
            </script>
        
        @checkbox(field = createForm("share"),'_label -> Messages("Share this lesson") )           
        
        <div class="form-group @if(createForm("lessonElements").hasErrors) {has-error}">
			    <label class="col-sm-2 control-label" for="@createForm("lessonElements").id">Lesson Elements</label>
			    <div class="col-sm-10" id="@createForm("lessonElements").id">
			      @for((checkboxName, isChecked) <- lessonElements) {
			        <label class="checkbox-inline">
			          <input
			            type="checkbox"
			            name=""
			            id="@checkboxName"
			            value="@checkboxName"
			            @if(isChecked) {checked}>
			          @checkboxName
			          @models.LessonElement.find.where().eq("title", checkboxName).findUnique().resourceURL
			        </label>
			      }			    
			      <span class="help-block">@{createForm("lessonElements").error.map { error => error.message }}</span>
			    </div>
			  </div>
            
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create this lesson" class="btn primary"> or 
            <a href="" class="btn">Cancel</a> 
        </div>
        
    }
}