@(id: String, lessonForm: Form[views.formdata.LessonFormData],
lessonElements: Map[String, Boolean],
breadcrumbs: utils.BreadCrumb)

@import helper._
@import bootstrap3._
@import tags._
@main("") {
    @breadcrumb(breadcrumbs)
    <h1>Edit Lesson</h1>
    
    @form(routes.LessonController.update(id)) {
        
        <fieldset>        
            @inputText(lessonForm("title"), '_label -> Messages("title"))
            @textarea(lessonForm("body"), '_label -> Messages("body"))   
            @inputText(lessonForm("resourceURL"), '_label -> Messages("resourceURL"))
			<script>
                CKEDITOR.replace( 'body' );
            </script>
            <input type="hidden" name="id" value="@id" />
             @checkboxes(lessonForm("lessonElements"),
              label = "Lesson Elements",
              checkboxMap = lessonElements)
              
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Update this lesson" class="btn primary"> or 
            <a href="routes.LessonController.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
    @form(routes.LessonController.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this lesson" class="btn danger">
    }
    
}