@(createForm: Form[Subject],
breadcrumbs: utils.BreadCrumb)
@import helper._
@import bootstrap3._
@import tags._

@main("Subject Input Form") {
	@breadcrumb(breadcrumbs)  
    <h1>Add a subject</h1>    
    @form(action = routes.SubjectController.save()){        
        <fieldset>        
            @inputText(createForm("name"), '_label -> Messages("name"))
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create this subject" class="btn primary"> or 
            <a href="" class="btn">Cancel</a> 
        </div>        
    }  
}