@(id: String, editForm: Form[Subject],
breadcrumbs: utils.BreadCrumb)

@import helper._
@import bootstrap3._
@import tags._

@main("") {
    @breadcrumb(breadcrumbs)
    <h1>Edit subject</h1>

	@form(routes.SubjectController.update(id)) {
        
        <fieldset>        
			@inputText(editForm("name"), '_label -> Messages("Name"))
			
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Save this subject" class="btn primary"> or 
            <a href="routes.SubjectController.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
    @form(routes.SubjectController.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this subject" class="btn danger">
    }   
}