@(id: String, editForm: Form[views.formdata.RoleFormData], permissions: Map[String, Boolean],
breadcrumbs: utils.BreadCrumb)

@import helper._
@import bootstrap3._
@import tags._
@main("") {
    @breadcrumb(breadcrumbs)
    <h1>Edit @editForm("roleName").value Role</h1>
	 @form(routes.RoleController.update(id)) {

	 <fieldset>
	 <legend>Permissions</legend>
	 	@checkboxes(editForm("permissions"),
              label = "Permissions",
              checkboxMap = permissions)	 	
	 </fieldset>
	 	<input type="hidden" name="id" value="@id" />
	    <div class="actions">
            <input type="submit" value="Update this role" class="btn primary"> or 
            <a href="@routes.RoleController.list()" class="btn">Cancel</a> 
        </div>
	 
	 } 

}