@(breadcrumb: utils.BreadCrumb)

<nav class="breadcrumbs">
	<a class="home" href="@routes.Application.index()">@Messages("playauthenticate.navigation.home")</a>
	@for((title, url) <- breadcrumb.breadCrumbs) {
		<a href="@url">@Messages(title)</a>
	}
  @if(breadcrumb.activeCrumbUrl==""){
    <a class="current unavailable">@Messages(breadcrumb.activeCrumb)</a>
  } else {
    <a class="current" href="@breadcrumb.activeCrumbUrl">@Messages(breadcrumb.activeCrumb)</a>
  }
</nav>