
@if(flash.contains(Application.FLASH_MESSAGE_KEY)) {
  <div data-alert class="alert-box info radius">
    <strong>@flash().get(Application.FLASH_MESSAGE_KEY)</strong>
    <a href="#" class="close">&times;</a>
  </div>
} 

@if(flash.contains(Application.FLASH_SUCCESS_KEY)) {
  <div data-alert class="alert-box success radius">
    <strong>@flash().get(Application.FLASH_SUCCESS_KEY)</strong>
    <a href="#" class="close">&times;</a>
  </div>
} 

@if(flash.contains(Application.FLASH_ERROR_KEY)) {
  <div data-alert class="alert-box warning radius">
    <strong>@flash().get(Application.FLASH_ERROR_KEY)</strong>
    <a href="#" class="close">&times;</a>
  </div>
}