@(pageHelper: utils.PageHelper)

@import tags.link

@if(pageHelper.totalPageCount > 1){
  <div class="pagination-centered">
    <ul class="pagination">
      @if(pageHelper.hasPrev) {
        <li class="arrow pager-first">
          <a href="@link(0, null, pageHelper)">|«</a>
        </li>
        <li class="arrow pager-previous">
          <a href="@link(pageHelper.pageIndex - 1, null, pageHelper)">&laquo;</a>
        </li>
          @for(i <- Math.max(0, pageHelper.pageIndex-4) to pageHelper.pageIndex-1){
  	      <li>
  	        <a href="@link(i, null, pageHelper)">@(i+1)</a>
  	      </li>
          }
      }

      <li class="current">
        <a>@(pageHelper.pageIndex + 1)</a>
      </li>
      
      @if(pageHelper.hasNext) {
          @for(i <- pageHelper.pageIndex+1 to Math.min(pageHelper.pageIndex+4, pageHelper.totalPageCount-1)){
  	      <li>
  	        <a href="@link(i, null, pageHelper)">@(i+1)</a>
  	      </li>
          }
        <li class="arrow pager-next">
          <a href="@link(pageHelper.pageIndex + 1, null, pageHelper)">&raquo;</a>
        </li>
        <li class="arrow pager-last">
          <a href="@link(pageHelper.totalPageCount-1, null, pageHelper)">»|</a>
        </li>
      }
    </ul>
  </div>
}