@**********************************************
 * Rmove form page.                           *
 *                                            *
 * @param title The titlt of object to delete *
 * @param deleteURL                           *
 * @param breadcrumbs                         *
 * @param destination next page URL           *
 *                                            *
 **********************************************@
@(
  title: String,
  deleteURL: String,
  breadcrumbs: utils.BreadCrumb
)

@import tags._

@main(title, breadcrumbs.nav) {
  @breadcrumb(breadcrumbs)

	<div id="block-remove-form">
    <form action="@deleteURL" method="POST">
			<h1>Are you sure you want to delete @title?</h1>
			<p>This action cannot be undone.</p>
			<div class="actions">
        <input type="hidden" value="@breadcrumbs.destination" name="destination">
			  <input type="submit" value="Delete" class="button small round alert">
			  <a href="@breadcrumbs.destination" class="button small round">Cancel</a> 
			</div>
    </form>
	</div>

}