@(nav: String = "")

@import be.objectify.deadbolt.java.views.html._

@subjectPresent() {
	@defining(Application.getLocalUser(session())) { user =>
    <aside id="sidebar" class="large-1 medium-2 columns">
	    <div class="hide-for-small">
				
        <div class="block-user-picture">
					<div>
					  <a href="@routes.Application.profile()" title="View user profile.">
				      <img src="@routes.UserController.picture(user.id)" alt="@user.getFullName's picture" title="@user.getFullName's picture">
				    </a>  
					</div>
					<a href="@routes.Application.profile()" title="View user profile." class="username">@user.getFullName()</a>
				</div>
        
				<div id="block-system-main-menu">
				  <ul class="side-nav">
				    <li><a href="@routes.Application.chatRoom()">Chat Room</a></li>
				    <li class="@("active".when(nav == ""))"><a href="@routes.Application.index()">Dashboard</a></li>
            <li class="@("active".when(nav == "/groups"))"><a href="@routes.GroupController.list()">Groups</a></li>
            <li class="@("active".when(nav == "courseModules"))"><a href="@routes.CourseModuleController.list()">Course Modules</a></li>
            <li class="@("active".when(nav == "library/files"))"><a href="/library/files">Library</a></li>
            <li class="@("active".when(nav == "assignment-workspace"))"><a href="/assignment-workspace" title="Assignment Workspace">Assignment Workspace</a></li>
            <li class="divider"></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-puzzle-piece"></i> Management</a>
              <ul class="dropdown-menu">
    				    <li class="@("active".when(nav == "announcements"))"><a href="@routes.AnnouncementController.list()">Announcements</a></li>
                <li class="@("active".when(nav == "/groupManagement"))"><a href="@routes.GroupManagement.list()?sorts[name]=1">Group Management</a></li>
    				    <li class="@("active".when(nav == "users"))"><a href="@routes.UserController.list()">User Management</a></li>
    				    <li class="@("active".when(nav == "/schoolYears"))"><a href="@routes.SchoolYearController.list()">School Years</a></li>
              </ul>
            </li>
            <li class="divider"></li>
            <li><a href="/roles"><i class="fa fa-users"></i> Roles</a></li>
            <li><a href="/subjects">Subjects</a></li>
            <li><a href="/courses">Courses</a></li>		          
            <li><a href="/lessonElements">Lesson Elements</a></li>	          
            <li><a href="/lessons">Lessons</a></li>
				  </ul>
				</div>
        

	    </div>
    </aside>
	}
}