@(createForm: Form[views.formdata.CourseModuleFormData], lessons: Map[String, Boolean],
breadcrumbs: utils.BreadCrumb)
@import helper._
@import bootstrap3._
@import tags._

@main("Course Module Input Form") {
@breadcrumb(breadcrumbs)
    <h1>Add a course module</h1>    
    @form(action = routes.CourseModuleController.save()){        
        <fieldset>        
            @inputText(createForm("title"), '_label -> Messages("title"))
            @textarea(createForm("body"), '_label -> Messages("body"))   
            @inputText(createForm("coverImageUrl"), '_label -> Messages("Cover Image"))
            <script>
                CKEDITOR.replace( 'body' );
            </script>
            
            @checkboxes(createForm("lessons"),
              label = "Lessons",
              checkboxMap = lessons)
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create this course module" class="btn primary"> or 
            <a href="" class="btn">Cancel</a> 
        </div>
        
    }
}