@(id: String, editForm: Form[views.formdata.CourseModuleFormData], lessons: Map[String, Boolean],
breadcrumbs: utils.BreadCrumb)

@import helper._
@import bootstrap3._
@import tags._

@main("") {
    @breadcrumb(breadcrumbs)
    <h1>Edit Course Module</h1>
    @form(routes.CourseModuleController.update(id)) {
        
        <fieldset>        
            @inputText(editForm("title"), '_label -> Messages("title"))
            @textarea(editForm("body"), '_label -> Messages("body"))   
            @inputText(editForm("coverImageUrl"), '_label -> Messages("Cover Image"))
			<script>
                CKEDITOR.replace( 'body' );
            </script>
            <input type="hidden" name="id" value="@id" />
             @checkboxes(editForm("lessons"),
              label = "Lessons",
              checkboxMap = lessons)
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Update this lesson element" class="btn primary"> or 
            <a href="CourseModuleController" class="btn">Cancel</a> 
        </div>
        
    }
    
    @form(routes.CourseModuleController.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this course module" class="btn danger">
    }
      
}