@(createForm: Form[LessonElement],
breadcrumbs: utils.BreadCrumb
)
@import helper._
@import tags._
@main("Lesson Element Input Form") {  
	@breadcrumb(breadcrumbs)
    <h1>Add a lesson element</h1>    
    @form(action = routes.LessonElementController.save()){        
        <fieldset>        
            @inputText(createForm("title"), '_label -> Messages("title"))
            @select(createForm("gradeLevel"), models.enums.GradeLevel.values().toList.map(v => (v.toString, Messages(v.toString))), 
    			'_label -> "GradeLevel" )
    			
    		@select(createForm("subject.id"), options(Subject.options),
    			'_label -> "Subject", '_showConstraints -> false)
            @textarea(createForm("body"), '_label -> Messages("body"))   
            @inputText(createForm("resourceURL"), '_label -> Messages("resourceURL"))
            <script>
                CKEDITOR.replace( 'body' );
            </script>
             @checkbox(field = createForm("share"),'_label -> Messages("Share this lesson element") )
             
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create this lesson element" class="btn primary"> or 
            <a href="" class="btn">Cancel</a> 
        </div>
        
    }
}