@(id: String, lessonElementForm: Form[LessonElement], lessonElement: LessonElement,
breadcrumbs: utils.BreadCrumb)

@import helper._
@import tags._
@main("") {
    @breadcrumb(breadcrumbs)
    <h1>Edit Lesson Element</h1>
    
    @form(routes.LessonElementController.update(id)) {
        
        <fieldset>        
            @inputText(lessonElementForm("title"), '_label -> Messages("title"))
            
            @select(lessonElementForm("gradeLevel"), models.enums.GradeLevel.values().toList.map(v => (v.toString, Messages(v.toString))), 
    			'_label -> "GradeLevel" )
    		@select(lessonElementForm("subject.id"), options(Subject.options),
    			'_label -> "Subject", '_showConstraints -> false)
    			
            @textarea(lessonElementForm("body"), '_label -> Messages("body"))   
            @inputText(lessonElementForm("resourceURL"), '_label -> Messages("resourceURL"))
            
			@if(lessonElement.resourceIsYouTubeVideo()) {
			  <iframe class="youtube-player" type="text/html" width="500" height="281" src='http://www.youtube.com/embed/@lessonElement.getYouTubeVideoID()' allowfullscreen frameborder="0"></iframe>
			} 

			@if(lessonElement.resourceIsVimeoVideo()) {
			  <iframe src="//player.vimeo.com/video/@lessonElement.getVimeoVideoID()?badge=0&amp;color=ffffff" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>			  
			}
            
            
            
			<script>
                CKEDITOR.replace( 'body' );
            </script>
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Save this lesson element" class="btn primary"> or 
            <a href="@routes.LessonElementController.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
    @form(routes.LessonElementController.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this lesson element" class="btn danger">
    }
    
}