@(
  part: String,
  createForm: Form[views.formdata.UserFormData],
  roles: Map[String, Boolean],
  breadcrumbs: utils.BreadCrumb
)

@import helper._
@import bootstrap3._
@import tags._

@main("User Input Form") {

	@breadcrumb(breadcrumbs)
  <h1>Add a @part</h1>
  @notice()
  
  @form(action = routes.UserController.save(part), 'enctype -> "multipart/form-data"){
    <div class="actions">
      <input type="submit" value="Save" class="button small round">
      <a href="@routes.UserController.list()" class="button small round">Cancel</a> 
    </div>

    <fieldset>
      <legend>Basic Info</legend>
    	<img src="/assets/img/defaultUser.png" title="upload your picture" />
      <input type="file" name="picture" />

      @inputRadioGroup(
        createForm("active"),
        options = Seq("true"->"Active", "false"->"Blocked"),
        '_showConstraints -> false,
        '_label -> Messages("user.edit.userStatus"),
        '_error -> createForm("active").error.map(_.withMessage("select status"))
      )

      @inputText(createForm("loginID"), '_label -> Messages("user.edit.loginID"), '_showConstraints -> false)   
      @inputText(createForm("email"), '_label -> Messages("user.edit.email"), '_showConstraints -> false)
      @inputText(createForm("firstName"), '_label -> Messages("user.edit.firstName"), '_showConstraints -> false)
      @inputText(createForm("lastName"), '_label -> Messages("user.edit.lastName"), '_showConstraints -> false)
      
      @inputRadioGroup(
        createForm("gender"),
        options = models.enums.Gender.values().toList.map(v => (v.toString, Messages(v.toString))),
        '_label -> Messages("user.edit.gender"),
        '_showConstraints -> false,
        '_error -> createForm("gender").error.map(_.withMessage("select gender"))
      )

      @inputDate(
        createForm("birthDate"),
        '_label -> Messages("user.edit.birthDate"),
        '_showConstraints -> false
      )
    
    </fieldset>
    
    @if(part==""){
      <fieldset>
        <legend>Roles</legend>
        @checkboxes(createForm("roles"), label = "", checkboxMap = roles)
      </fieldset>
    }else{
      <input type="text" name="roles[]" value="@part" />
    }
    
    @if(part=="Teacher"){
      <fieldset>
      	<legend>Teacher Info</legend>
      	@inputText(createForm("teacherID"), '_label -> Messages("user.edit.teacherID"))
      </fieldset>
    }
    
    @if(part=="Student"){
      <fieldset>
      	<legend>Student Info</legend>
      	@inputText(createForm("studentId"), '_label -> Messages("user.edit.studentId"))
        @_gradeLevelPartial(createForm, false)
    		@select(createForm("studentStatus"), models.enums.StudentStatus.values().toList.map(v => (v.toString, Messages(v.toString))), '_label -> Messages("user.edit.studentStatus"), '_default -> "", '_showConstraints -> false)
      </fieldset>
    }
    
    @if(part=="Parent"){
      <fieldset>
      	<legend>Parent Info</legend>
      	@inputText(createForm("relationship"), '_label -> Messages("user.edit.relationship"))
      </fieldset>
    }
    
    <div class="actions">
      <input type="submit" value="Save" class="button small round">
      <a href="@routes.UserController.list()" class="button small round">Cancel</a> 
    </div>
        
  }

}