@(
  id: String,
  userForm: Form[views.formdata.UserFormData],
  roles: Map[String, Boolean],
  breadcrumbs: utils.BreadCrumb
)

@import helper._
@import bootstrap3._
@import tags._

@main(userForm.get().lastName + userForm.get().firstName, breadcrumbs.nav) {
  
  @breadcrumb(breadcrumbs)
  <h1>@(userForm.get().lastName + userForm.get().firstName)</h1>
  @notice()
 
  @form(routes.UserController.update(id), 'enctype -> "multipart/form-data") {
    <input type="hidden" name="id" value="@id" />
    <fieldset>
    	<legend>Basic Info</legend>
      <img src="@routes.UserController.picture(id)"/>
      <input type="file" name="picture">
      
      @inputRadioGroup(
        userForm("active"),
        options = Seq("true"->"Active", "false"->"Blocked"),
        '_showConstraints -> false,
        '_label -> Messages("user.edit.userStatus"),
        '_error -> userForm("active").error.map(_.withMessage("select status"))
      )
  	  
      @inputText(userForm("loginID"), '_label -> Messages("user.edit.loginID"), '_showConstraints -> false)
      @inputText(userForm("email"), '_label -> Messages("user.edit.email"), '_showConstraints -> false)
      @inputText(userForm("firstName"), '_label -> Messages("user.edit.firstName"), '_showConstraints -> false)
      @inputText(userForm("lastName"), '_label -> Messages("user.edit.lastName"), '_showConstraints -> false)
      
      @inputRadioGroup(
        userForm("gender"),
        options = models.enums.Gender.values().toList.map(v => (v.toString, Messages(v.toString))),
        '_label -> Messages("user.edit.gender"),
        '_showConstraints -> false,
        '_error -> userForm("gender").error.map(_.withMessage("select gender"))
      )

      @inputDate(userForm("birthDate"), '_label -> Messages("user.edit.birthDate"), '_showConstraints -> false) 
    </fieldset>
    
    <fieldset>
      <legend>Roles</legend>
      @checkboxes(userForm("roles"), label = "", checkboxMap = roles)
    </fieldset>
    
    <fieldset>
    	<legend>Teacher Info</legend>
    	@inputText(userForm("teacherID"), '_label -> Messages("user.edit.teacherID"), '_showConstraints -> false)
    </fieldset>
    
    <fieldset>
    	<legend>Student Info</legend>
    	@inputText(userForm("studentId"), '_label -> Messages("user.edit.studentId"))
      @_gradeLevelPartial(userForm, false)
  		@select(userForm("studentStatus"), models.enums.StudentStatus.values().toList.map(v => (v.toString, Messages(v.toString))), '_label -> Messages("user.edit.studentStatus"), '_default -> "", '_showConstraints -> false)
    </fieldset>
    
    <fieldset>
    	<legend>Parent Info</legend>
  		@select(userForm("relationship"), models.enums.Relationship.values().toList.map(v => (v.toString, Messages(v.toString))), '_label -> Messages("user.edit.relationship"), '_default -> "", '_showConstraints -> false)
    </fieldset>
    
    <div class="actions">
      <input type="submit" value="Save" class="button small round">
      <a href="@routes.UserController.list()" class="button small round">Cancel</a> 
      <a href="@routes.UserController.remove(id)?destination=@breadcrumbs.destination" class="button small round alert">Delete</a>
    </div>
  }
}