@(
  currentPage: com.avaje.ebean.Page[User],
  currentSortBy: String,
  currentOrder: String,
  currentFilter: String,
  breadcrumbs: utils.BreadCrumb,
  searchFormData: Form[views.formdata.UserSearchFormData]
)

@import helper._
@import tags._

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    routes.UserController.list(newPage, sortBy, order, currentFilter)
}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
  <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
    <a href="@link(0, key)">@title</a>
  </th>
}

@main(Messages("user.list.title"),"users") {
    
  @breadcrumb(breadcrumbs)
  <h1 id="homeTitle">@Messages("user.list.title")</h1>
  @notice()

  <div class="row">
    <div class="large-2 columns">
      <fieldset>
        <legend>Add new user</legend>
        <a href="#" class="tiny button split">New user <span data-dropdown="drop"></span></a><br>
        <ul id="drop" class="f-dropdown" data-dropdown-content>
          <li><a href="@routes.UserController.create("Student")"><i class="fa fa-plus"></i> Add a Student</a></li>
          <li><a href="@routes.UserController.create("Teacher")"><i class="fa fa-plus"></i> Add a Teacher</a></li>
          <li><a href="@routes.UserController.create("Admin")"><i class="fa fa-plus"></i> Add a School Admin</a></li>
        </ul>
      </fieldset>
    </div>

    <div class="large-4 columns">
      @form(action = routes.UserController.importUser, 'enctype -> "multipart/form-data") {
        <fieldset>
          <legend>Import user with a CSV file</legend>
          <div class="row collapse">
            <div class="small-10 columns"><input type="file" name="csvimport" accept="text/csv"></div>
            <div class="small-2 columns"><input type="submit" value="Upload" class="button postfix"></div>
          </div>
        </fieldset>
      }
    </div>

    <div class="large-6 columns">
      <form action="@link(0, "name")" method="GET">
        <fieldset>
          <legend>Search user</legend>
            <div class="row collapse">
              <dl class="small-3 large-3 columns">
                <dt><label for="searchbox">Email</label></dt>
                <dd><input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filter by email..."></dd>
              </dl>
              @select(searchFormData("role"), options(SecurityRole.options), '_class -> "small-2 large-2 columns", '_label -> "Role", '_default -> "-- Any --", '_showConstraints -> false)
              @select(searchFormData("gradeLevel"), models.enums.GradeLevel.values().toList.map(v => (v.toString, Messages("GradeLevel." + v.toString))), '_class -> "small-3 large-3 columns", '_default -> "-- Any --", '_label -> "Grade Level" )
              @select(searchFormData("orderBy"), options(User.orderBy), '_class -> "small-3 large-3 columns", '_label -> "Sort by", '_default -> "-- Any --", '_showConstraints -> false)
              <dl class="small-1 large-1 columns">
                <dt><label for="searchsubmit">&nbsp;</label></dt>
                <dd><input type="submit" id="searchsubmit" value="Go" class="tiny button"></dd>
              </dl>
            </div>
        </fieldset>
      </form>
    </div>
  
  </div>
  
  @if(currentPage.getTotalRowCount == 0) {
      
    <div class="well">
        <em>Nothing to display</em>
    </div>
      
  } else {
      
    <table>
      <caption><div class="left">Total: @currentPage.getTotalRowCount()</div></caption>
      <thead>
        <tr>
          <th></th>
          @header("name", "Name")
          <th></th>
          <th>Role</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      @for(user <- currentPage.getList) {
        <tr>
        	<td>
            <div class="user-picture-small">
              <a href="@routes.UserController.view(user.id)">
                <img src="@routes.UserController.picture(user.id)">
              </a>
            </div>
          </td>
          <td>
            <a href="@routes.UserController.view(user.id)">@user.getFullName()</a>
          </td>
          <td>
            <span>@user.gender</span>
            @if(user.teacherID) { <span>Teacher ID: @user.teacherID</span> }
            @if(user.studentID) { <span>Student ID: @user.studentID</span> }
            @if(user.gradeLevel != null) { <span>Grade Level: @Messages("GradeLevel." + user.gradeLevel)</span> }
            <span>@user.relationship</span>
          </td>
          <td>
            @user.getRoles().map { role => <div>@role.getName()</div> }
          </td>
          <td>
            <span class="field-created-date">@user.created_at.toString() created</span>
            <a href="mailto:@routes.UserController.edit(user.id)" class="fa fa-envelope fa-lg" title="@routes.UserController.edit(user.id)"></a>
            <a href="@routes.UserController.edit(user.id)" class="fa fa-pencil-square fa-lg" title="Edit"></a>
          </td>
        </tr>
      }               
      </tbody>
    </table>

    <div id="pagination" class="pagination">
        <ul>
            @if(currentPage.hasPrev) {
                <li class="prev">
                    <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Previous</a>
                </li>
            } else {
                <li class="prev disabled">
                    <a>&larr; Previous</a>
                </li>
            }
            <li class="current">
                <a>Displaying @currentPage.getDisplayXtoYofZ(" to "," of ")</a>
            </li>
            @if(currentPage.hasNext) {
                <li class="next">
                    <a href="@link(currentPage.getPageIndex + 1, null)">Next &rarr;</a>
                </li>
            } else {
                <li class="next disabled">
                    <a>Next &rarr;</a>
                </li>
            }
        </ul>
    </div>
      
  }
        
}