@(
  localUser: models.User = null,
  viewUser: models.User = null,
  breadcrumbs: utils.BreadCrumb
)

@import com.feth.play.module.pa.views.html._
@import tags._

@main(viewUser.getFullName(), breadcrumbs.nav) {

  @breadcrumb(breadcrumbs)
  @notice()
  
  <div class="row">
    <div class="large-6 medium-9 columns"><h1>@viewUser.getFullName()</h1></div>
    <div class="large-6 medium-3 columns" style="padding: 10px 10px 0 0; text-align: right">
      <a href="@routes.UserController.edit(viewUser.id)" class="fa fa-pencil-square fa-3x" title="Edit"></a>
    </div>
    <div class="clear"></div>
  </div>
          
  <div class="row">
    <div class="medium-3 columns">
      <img src="@routes.UserController.picture(viewUser.id)" alt="@viewUser.getFullName()'s picture" title="@viewUser.getFullName()'s picture">
    </div>
    <div class="medium-9 columns table-view">
      <div class="field">
        <div class="field-label">@Messages("user.edit.userStatus")</div>
        <div class="field-items">@Messages("user.active." + viewUser.active)</div>
      </div>

      <div class="field">
        <div class="field-label">@Messages("user.edit.email")</div>
        <div class="field-items">
          @if(!viewUser.email) {
            <em>&lt;unknown&gt;</em>.
          }else{
            @viewUser.email.
            <i>
            @if(!viewUser.emailValidated && viewUser.email) {
              (<a href="@routes.Account.verifyEmail">unverified - click to verify</a>)
            } else {
              (verified)
            }</i>
          }
        </div>
      </div>

      <div class="field">
        <div class="field-label">@Messages("user.edit.loginID")</div>
        <div class="field-items">@viewUser.getFullName()</div>
      </div>

      <div class="field">
        <div class="field-label">@Messages("user.edit.gender")</div>
        <div class="field-items">@viewUser.gender</div>
      </div>

      <div class="field">
        <div class="field-label">@Messages("user.edit.birthDate")</div>
        <div class="field-items">@viewUser.birthDate</div>
      </div>

      <div class="field">
        <div class="field-label">@Messages("user.edit.roles")</div>
        <div class="field-items">@for(role <- viewUser.roles){ @role.roleName, }</div>
      </div>

      <div class="field">
        <div class="field-label">@Messages("user.edit.teacherID")</div>
        <div class="field-items">@viewUser.teacherID</div>
      </div>

      <div class="field">
        <div class="field-label">@Messages("user.edit.studentId")</div>
        <div class="field-items">@viewUser.studentID</div>
      </div>

      <div class="field">
        <div class="field-label">@Messages("user.edit.gradeLevel")</div>
        <div class="field-items">@viewUser.gradeLevel</div>
      </div>

      <div class="field">
        <div class="field-label">@Messages("user.edit.studentStatus")</div>
        <div class="field-items">@viewUser.studentStatus</div>
      </div>

      <div class="field">
        <div class="field-label">@Messages("user.edit.relationship")</div>
        <div class="field-items">@viewUser.relationship</div>
      </div>

      <div class="field">
        <div class="field-label">@Messages("user.createdDate")</div>
        <div class="field-items">@viewUser.created_at</div>
      </div>

      <div class="field">
        <div class="field-label">@Messages("Groups")</div>
        <div class="field-items">@for(membership <- viewUser.memberships){
          <div> @membership.group.name </div>
        }
        </div>
      </div>

      <div class="field">
        <div class="field-label"></div>
        <div class="field-items">
          @defining(viewUser.getProviders()) { providers =>
            @if(providers.size() > 0) {
              @if(providers.size() ==1) {
                @Messages("playauthenticate.profile.providers_one")
              } else {
                @Messages("playauthenticate.profile.providers_many",providers.size().toString())
              }
              @for(p <- providers) {
                @_providerIcon(p)
              }
              <br/>
            }
          }

          @currentAuth() { auth =>
            @Messages("playauthenticate.profile.logged") @_providerIcon(auth.getProvider())<br/>
            @if(auth.expires() != -1){
              @Messages("playauthenticate.profile.session", auth.getId(), Application.formatTimestamp(auth.expires()))
            } else {
              @Messages("playauthenticate.profile.session_endless", auth.getId())
            }
          }

          <ul>
          	<li><a href="@routes.Account.changePassword">@Messages("playauthenticate.profile.password_change")</a></li>
          </ul>
        </div>
      </div>
    </div>
  
  </div>



}
