@**********************************************************************
 * addStudentForm Template File                  *
 **********************************************************************@
@(
  group: models.Group,
  breadcrumbs: utils.BreadCrumb,
  searchFormData: Form[views.formdata.UserSearchFormData],
  users: List[models.User],
  memberForm: Form[views.formdata.GroupAddMemberForm]
)

@import helper._
@import tags._

@scripts = {
  <script type="text/javascript">
    $(function() {
      $(".open-dialog").click(function() {
        $("#"+$(this).attr("name")).dialog("open");
        console.log("#"+$(this).attr("name"));
        //$("#query-form").empty().load("@routes.GroupController.searchStudent(group.id) #block-form");
      });

      $(".dialog-confirm").dialog({
        autoOpen: false,
        show: {
          effect: "blind",
          duration: 100
        },
        hide: {
          effect: "explode",
          duration: 100
        },
        resizable: true,
        width: "90%",
        height: 600,
        modal: true,
        buttons: {
          "OK": function() {
            var uids = "#searchStudentResult input[name='uids[]']:checked";
            if ($(uids).length > 0){
              //console.log($(uids).length);
              $.each($(uids), function(i, obj){
                //console.log(i, obj);
                $("<li></li>").append(obj).append($(obj).attr("title")).appendTo($("#user-list"));
              });
            }
            $(this).dialog("close");
            $("#block-form").removeClass("hide");
          },
          Cancel: function() {
            $(this).dialog("close");
          }
        }
      });

      var checkallClick = function() {
        var form = $(this).parents("form");  // limited in the same form
        var elements = $("input:checkbox[name='"+ $(this).attr("data") +"']", $(form));
        if($(this).prop("checked")) {
          // check all
          $(elements).each(function() {
            $(this).prop("checked", true);
          });
        } else {
          // uncheck all
          $(elements).each(function() {
            $(this).prop("checked", false);
          });           
        }
      }
      
      $("#searchStudentForm").on("submit", function(event) {
        event.preventDefault();
        var url = $(this).attr("action"), serial = $(this).serialize();
        // Put the results in a div
        $.post(url, serial).done(function(data) {
          //var content = $($.parseHTML(data)).find("#searchStudentResult");
          //console.log(data);
          $("#displayResult").empty().append(data);
          $("#searchStudentResult_checkall").click(checkallClick);
        })
        .fail(function() {
          $("#displayResult").empty().append("Error!");
        })
        .always(function() {
          //$("#displayResult").append("Finished!");
        });
      })
    });
  </script>
}

@main(group.name, breadcrumbs.nav, scripts) {

  @breadcrumb(breadcrumbs)
  <div class="table-view">
    <div class="field">
      <div class="field-label">Public Group Name:</div>
      <div class="field-items">@group.name</div>
    </div>
    <div class="field">
      <div class="field-label">Room Teacher:</div>
      <div class="field-items">@group.roomTeacher.getFullName()</div>
    </div>
    <div>
      <a href="#" class="open-dialog button tiny" name="dialog-confirm-create" title="Search member to join"><i class="fa fa-user"></i> Add member</a>
      <div id="dialog-confirm-create" class="dialog-confirm" title="Search member to join">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Choose member</p>
        @form(action = routes.GroupController.searchUser(group.id), 'id -> "searchStudentForm", 'onSubmit -> "return false"){
          <div class="row collapse">
            <dl class="small-4 large-4 columns">
              <dt><label for="searchbox">Name or Student ID</label></dt>
              <dd><input type="search" id="searchbox" name="f" value="@searchFormData("f").value" placeholder="Filter name or number by student..."></dd>
            </dl>
            @select(
              searchFormData("gradeLevel"),
              models.enums.GradeLevel.values().toList.map(v => (v.toString, Messages("GradeLevel." + v.toString))),
              '_class -> "small-4 large-4 columns",
              '_default -> "-- Any --",
              '_label -> "Grade Level"
             )
            <dl class="small-1 large-1 columns">
              <dt><label for="searchsubmit">&nbsp;</label></dt>
              <dd><input type="submit" id="searchBtn" value="Go" class="button postfix"></dd>
            </dl>
            <dl class="small-3 large-3 columns"></dl>
          </div>
        }
        <div id="displayResult"></div>
      </div>
    </div>
  </div>
  
  @notice()
    
  <div id="block-form" class="hide">
    @form(action = routes.GroupController.saveMember(group.id)){
      <fieldset>
        <div>
          <input type="checkbox" id="checkall" class="checkall" data="uids[]" checked="true">
          <label for="checkall">Check all</label>
        </div>
        <ol id="user-list">
        </ol>
        <div class="cta-button">
          <input type="hidden" value="@group.id" name="id">
          <input type="submit" value="Submit" class="button small round">
          <a href="@routes.GroupController.view(group.id)" class="button small round">Cancel</a>
        </div>
      </fieldset>
    }
  </div>
}
