@**********************************************************************
 * @param createForm The create form of group                  *
 **********************************************************************@
@(
  createForm: Form[views.formdata.GroupFormData],
  breadcrumbs: utils.BreadCrumb
)

@import helper._
@import tags._

@main(breadcrumbs.activeCrumb, breadcrumbs.nav) {    
  
  @breadcrumb(breadcrumbs)
  
  <h1>Create Group</h1>
  
  @defining(createForm.errors().size()){ cnt => 
    @cnt match{
      case 0 => {}
      case 1 => {<div class="alert alert-error">There is @cnt error.</div>}
      case _ => {<div class="alert alert-error">There are @cnt errors.</div>}
    }
  }

  @form(action = routes.GroupController.save()){        
    <fieldset>
      @inputText(createForm("name"), '_label -> Messages("Name"))
      @inputText(createForm("shortName"), '_label -> Messages("Short Name"))
      @_gradeLevelPartial(createForm, true)
      @select(createForm("schoolYear"), models.SchoolYear.find.all().map(v => (v.id, Messages(v.title))), '_label -> "School Year" )
      @select(createForm("roomTeacher"), models.User.find.all().map(v => (v.id, Messages(v.getFullName))), '_label -> "Room Teacher" )
    
    <div class="actions">
      <input type="submit" value="Submit" class="button small round">
      <a href="@routes.GroupController.list()" class="button small round">Cancel</a>
    </div>
    </fieldset>
  }   
}
