@**********************************************************************
 * deleteStudentForm Template File                  *
 **********************************************************************@
@(
  group: models.Group,
  breadcrumbs: utils.BreadCrumb,
  users: List[models.User],
  memberForm: Form[views.formdata.GroupAddMemberForm]
)

@import helper._
@import tags._

@main(group.name, breadcrumbs.nav) {
  
  @breadcrumb(breadcrumbs)
  <h1>Delete Student from <i>@group.name</i></h1>
  
  @notice()
  
  @if(users!=null && users.size() > 0) {
    @form(action = routes.GroupController.deleteMember(group.id)){
      <fieldset>
        <div>
          <input type="checkbox" id="checkall" class="checkall" data="@(memberForm("uids").name + "[]")">
          <label for="checkall">Check all</label>
        </div>
        <ol>
          @for(user <- users) {
  	        <li class="bullet-item">
              <input type="checkbox" name="@(memberForm("uids").name + "[]")" value="@user.id"> @user.studentID @user.getFullName()
            </li>
          }
        </ol>
        <div class="cta-button">
          <input type="hidden" value="@group.id" name="id">
          <input type="submit" value="Submit" class="button small round">
          <a href="@routes.GroupController.view(group.id)" class="button small round">Cancel</a>
        </div>
      </fieldset>
    }
  }

}
