@(
  id: String,
  editForm: Form[views.formdata.GroupFormData],
  breadcrumbs: utils.BreadCrumb
)

@import helper._
@import tags._

@main(editForm.get().name, breadcrumbs.nav) {
  
  @breadcrumb(breadcrumbs)
  <h1>Edit @editForm.get().name</h1>
  @notice()

  @editForm.errors().size() match {
    case 0 => {}
    case 1 => {<div class="alert alert-error">There is @editForm.errors().size() error.</div>}
    case _ => {<div class="alert alert-error">There are @editForm.errors().size() errors.</div>}
  }

	@form(routes.GroupController.update(id)) {
    <input type="hidden" name="id" value="@id" />
    <fieldset>
      @inputText(editForm("name"), '_label -> Messages("Name"))
      @inputText(editForm("shortName"), '_label -> Messages("Short Name"))
      @_gradeLevelPartial(editForm, true)
      @select(editForm("schoolYear"), models.SchoolYear.find.all().map(v => (v.id, Messages(v.title))), '_label -> "School Year" )
      @select(editForm("roomTeacher"), models.User.find.all().map(v => (v.id, Messages(v.getFullName))), '_label -> "Room Teacher" )
      <div class="actions">
        <input type="submit" value="Save" class="button small round">
        <a href="@breadcrumbs.destination" class="button small round">Cancel</a>
        <a href="@routes.GroupController.remove(id)?destination=@breadcrumbs.destination" class="button small round alert">Delete</a>
      </div>
    </fieldset>
  }

}