@(
  currentPage: com.avaje.ebean.Page[Group],
  pageHelper:  utils.PageHelper,
  breadcrumbs: utils.BreadCrumb
)

@import tags._

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
  <th class="@key.replace(".","_") @if(pageHelper.currentSortBy == key) @{if(pageHelper.currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
    <a href="@link(0, key, pageHelper)">@title</a>
  </th>
}

@main(Messages(breadcrumbs.activeCrumb), breadcrumbs.nav) {
  @breadcrumb(breadcrumbs)
  <h1 id="homeTitle">@Messages(breadcrumbs.activeCrumb)</h1>

  @notice()
  
  <div class="row">
    <div class="large-3 columns">
      <a class="tiny button" id="add" href="@routes.GroupController.create()?destination=@breadcrumbs.nav">Create Group</a>
    </div>
    <form action="@link(0, "name", pageHelper)" method="GET">
      <div class="large-9 columns">
        <div class="row collapse">
          <div class="small-10 columns"><input type="search" id="searchbox" name="f" value="@pageHelper.currentFilter" placeholder="Filter name by group..."></div>
          <div class="small-2 columns"><input type="submit" id="searchsubmit" value="Go" class="button postfix"></div>
        </div>
      </div>
    </form>
  </div>
  
  @if(currentPage.getTotalRowCount == 0) {

    <div class="well">
        <em>Nothing to display</em>
    </div>

  } else {

    <div class="table-responsive">
	    <table>
        <caption><div class="left">Total: @currentPage.getTotalRowCount()</div></caption>
        <thead>
          <tr>
            @header("schoolYear", "School Year")
            @header("name", "Name")
            @header("shortName", "Short Name")
            @header("gradeLevel", "Grade Level")
            @header("roomTeacher", "Room Teacher")
            <th></th>
          </tr>
        </thead>	    
	      <tbody>
	      @for(group <- currentPage.getList) {
	        <tr>
            <td>@group.schoolYear.title</td>
            <td><a href="@routes.GroupController.view(group.id)">@group.name</a></td>
	          <td>@group.shortName</td>
	          <td>@Messages("GradeLevel." + group.gradeLevel)</td>
            <td>@group.roomTeacher.getFullName()</td>
	          <td class="action">
              <a href="@routes.GroupController.edit(group.id)?destination=@breadcrumbs.nav"><i class="fa fa-pencil"></i> Edit</a>
              <a href="@routes.GroupController.remove(group.id)?destination=@breadcrumbs.nav"><i class="fa fa-times"></i> Delete</a>
            </td>
	        </tr>
	      }               
	      </tbody>
	    </table>
    </div>

    @pagination(pageHelper)

  }
        
}