@**********************************************************************
 * addStudentForm Template File                  *
 **********************************************************************@
@(
  group: models.Group,
  breadcrumbs: utils.BreadCrumb,
  searchFormData: Form[views.formdata.UserSearchFormData],
  users: List[models.User],
  memberForm: Form[views.formdata.GroupAddMemberForm]
)

@import helper._
@import tags._

@if(users!=null && users.size() > 0) {
  <form id="searchStudentResult">
    <fieldset>
      <table width="100%">
        <thead>
          <tr>
            <th colspan="2">
              <input type="checkbox" id="searchStudentResult_checkall" class="checkall" data="@(memberForm("uids").name + "[]")">
              <label for="searchStudentResult_checkall">Check all</label>
            </th>
            <th>Student Name</th>
            <th>Student ID</th>
            <th>Class</th>
            <th>Room Teacher</th>
          </tr>
        </thead>
        <tbody class="group-member">
        @for(user <- users) {
          <tr>
            <td><input type="checkbox" name="uids[]" value="@user.id" title="@user.getFullName()"></td>
            <td><img src="@routes.UserController.picture(user.id)" /></td>
            <td>@user.getFullName()</td>
            <td>@user.studentID</td>
            @for(membership <- user.memberships) {
              <td>@membership.group.name</td>
              <td>@membership.group.roomTeacher.getFullName()</td>
            }
            @if(user.memberships.size()==0){
              <td></td><td></td>
            }
          </tr>
        }
        </tbody>
      </table>
    </fieldset>
  </form>
}
