@(
  group: Group,
  breadcrumbs: utils.BreadCrumb
)

@import tags._

@scripts = {
  <script type="text/javascript">
    $(function() {
      $(".open-dialog").click(function() {
        $("#"+$(this).attr("name")).dialog("open");
      });

      $(".dialog-confirm").dialog({
        autoOpen: false,
        show: {
          effect: "blind",
          duration: 100
        },
        hide: {
          effect: "explode",
          duration: 100
        },
        resizable: false,
        height:180,
        modal: true,
        buttons: {
          "Yes": function() {
            $(this).html('<i class="fa fa-spinner fa-spin"></i> Loading...');
            window.location.href = ($(this).attr("id")=="dialog-confirm-delete") ? "@routes.GroupController.removeGroupCode(group.id)" : "@routes.GroupController.generateGroupCode(group.id)";
          },
          Cancel: function() {
            $(this).dialog("close");
          }
        }
      });
    });
  </script>
}

@main(group.name, breadcrumbs.nav, scripts) {
  
  @breadcrumb(breadcrumbs)

  <h1 id="homeTitle">@group.name</h1>
  
  @notice()
  
  <div class="region-content">
    <div>
      <a href="@routes.GroupController.edit(group.id)?destination=@routes.GroupController.view(group.id)" class="group-icons"><i class="fa fa-pencil"></i> Edit</a>
      <a href="@routes.GroupController.remove(group.id)?destination=@routes.GroupController.view(group.id)" class="group-icons"><i class="fa fa-times"></i> Delete</a>
    </div>
    <div>Short Name: @group.shortName</div>
    <div>Room Teacher: @group.roomTeacher.getFullName()</div>
    <div>School Year: @group.schoolYear.title</div>
    <div>Grade Level: @Messages("GradeLevel." + group.gradeLevel)</div>
    
    <div>Group Code: 
      <span class="group-icons">@group.groupCode
      @if(group.groupCode=="" || group.groupCode==null){
        <a href="#" class="open-dialog" name="dialog-confirm-create" title="Create this group code"><i class="fa fa-plus-circle"></i> Create</a>
        <div id="dialog-confirm-create" class="dialog-confirm" title="Create this group code">
          <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Are you sure ?</p>
        </div>
      }else{
        <a href="#" class="open-dialog" name="dialog-confirm-regenerate" title="Regenerate this group code"><i class="fa fa-refresh"></i> Regenerate</a>
        <div id="dialog-confirm-regenerate" class="dialog-confirm" title="Regenerate this group code">
          <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Are you sure ?</p>
        </div>
        
        <a href="#" class="open-dialog" name="dialog-confirm-delete" title="Delete this group code"><i class="fa fa-times-circle"></i> Delete</a>
        <div id="dialog-confirm-delete" class="dialog-confirm" title="Delete this group code">
          <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Are you sure ?</p>
        </div>
      }
      </span>
    </div>

    <div class="novo-group-member">
      <div>Members:
        <span class="group-icons">
          <a href="@routes.GroupController.addMember(group.id)"><i class="fa fa-user"></i> Add member</a>
          <a href="@routes.GroupController.deleteStudent(group.id)"><i class="fa fa-minus-circle"></i> Remove member</a>
        </span>
      </div>
      @for(membership <- group.memberships) {
        <div class="group-member">
          <img src="/users/pic/@membership.user.id" alt="@membership.user.getFullName()'s picture" title="@membership.user.getFullName()'s picture">
          @membership.user.getFullName()
        </div>
      }
    </div>
    
  </div>
        
}