
@main(Messages("playauthenticate.index.title")) {

  <div class="row">

    <div class="medium-8 columns">
      <fieldset>
        <legend><b>Latest Messages</b></legend>
        <table width="100%">
          <caption style="text-align: right"><a class="tiny button" href>more...</a></caption>
          <thead><tr><th>Member Name</th><th>Type</th><th>Date</th></tr></thead>
          <tbody></tbody>
        </table>
      </fieldset>
      
      <fieldset>
        <legend><b>Latest Books</b></legend>
        <table width="100%">
          <caption style="text-align: right"><a class="tiny button" href>more...</a></caption>
          <thead><tr><th>Book Name</th><th>Category</th><th>Publish Date</th></tr></thead>
          <tbody></tbody>
        </table>
      </fieldset>
      
      <fieldset>
        <legend><b>Shortcut</b></legend>
        <a class="tiny button" href>Create News</a>
        <a class="tiny button" href>Create Public Group</a>
        <a class="tiny button" href>Import Account</a>
        <a class="tiny button" href>Create Account</a>
      </fieldset>
    </div>
    
    <div class="medium-4 columns">
      <fieldset>
        <legend><b>HD Usage</b></legend>
      </fieldset>
      
      <fieldset>
        Calling....
      </fieldset>
    </div>

  </div>
}