@(loginForm: Form[_])

@import helper._
@import helper.twitterBootstrap._

@signin(Messages("playauthenticate.login.title"),"login") {

  <div>
	  @* Display proprietary login form *@
	  @helper.form(action = routes.Application.doLogin, 'id -> "user-login", 'autocomplete -> "off") {
	    <h1>
        <img src="/assets/img/logo_login.png" title="@Messages("playauthenticate.login.title")">
      </h1>

	    @if(loginForm.hasGlobalErrors) {
	      <p class="error">
	        <span class="label label-important">@loginForm.globalError.message</span>
	      </p>
	    }

	    @_emailPartial(loginForm)
	
	    @inputPassword(
        loginForm("password"),
        '_showConstraints -> false,
        'placeholder -> Messages("playauthenticate.login.password.placeholder")
      )

      <div class="form-actions form-wrapper" id="edit-actions">
        <input type="submit" id="edit-submit" name="op" value="@Messages("playauthenticate.login.now")" class="form-submit">
        <a href="javascript:void(0);" id="forget" onclick="window.location.href = jsRoutes.controllers.Signup.forgotPassword($('#email').val() || null).absoluteURL();" title="@Messages("playauthenticate.login.forgot.password")">@Messages("playauthenticate.login.forgot.password")</a>
      </div>
      <div class="clear"></div>
    }
	</div>

	<div class="oauth-block clear">
    @Messages("playauthenticate.login.oauth")
    @* Display list of available providers *@
    @_providerPartial(skipCurrent=false)
	</div>

}