@(signupForm: Form[_])

@import tags._
@import helper._
@import helper.twitterBootstrap._

@main(Messages("playauthenticate.signup.title")) {
    
  <div class="row">
    <div class="medium-6 columns">
      <h1>@Messages("playauthenticate.signup.title")</h1>
    </div>
  </div>

  <div id="signup" class="row">

    <div class="medium-6 columns">
      
      @* Display proprietary login form *@
    	@helper.form(routes.Application.doSignup) {
    	
        @if(signupForm.hasGlobalErrors) {
          <p class="error">
            <span class="label label-important">@signupForm.globalError.message</span>
          </p>
        }
        
        @notice()
        
        @_emailPartial(
          signupForm,
          false,
          Messages("playauthenticate.signup.email"))

        @inputText(
          signupForm("loginID"),
          '_label -> Messages("playauthenticate.signup.loginID")
        )

        @_passwordPartial(signupForm)

        @inputText(
          signupForm("firstName"),
          '_label -> Messages("playauthenticate.signup.firstName")
        )

        @inputText(
          signupForm("lastName"),
          '_label -> Messages("playauthenticate.signup.lastName")
        )
        
        @inputRadioGroup(
          signupForm("gender"),
          options = models.enums.Gender.values().toList.map(v => (v.toString, Messages(v.toString))),
          '_label -> Messages("playauthenticate.signup.gender"),
          '_showConstraints -> false,
          '_error -> signupForm("gender").error.map(_.withMessage("select gender"))
        )

        @inputDate(
          signupForm("birthDate"),
          '_label -> Messages("playauthenticate.signup.birthDate"),
          '_showConstraints -> true
        )

        <input type="submit" class="button small" value="@Messages("playauthenticate.signup.now")">
    	}
    </div>

    <div class="medium-6 columns">
        @Messages("playauthenticate.signup.oauth")
        @* Display list of available providers *@
        @_providerPartial(skipCurrent=false)
    </div>

  </div>

}